table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 3px solid #a9a9dd;
}
 
table th, table td {
    text-align: left;
    padding: 16px;
    border: 1px solid #ddd;
}
 
table tr:nth-child(even) {
    background-color: #61b4eb;
}
 
table tr:hover {
    background-color: #ddd;
}
 
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #82af4c;
    color: white;
}